
                    <!--<aside class="menu-sidebar d-none d-lg-block">
                        
                        <div class="menu-sidebar-content js-scrollbar1">
                            <nav class="navbar-sidebar">
                                <ul class="list-unstyled navbar-list">
                                    <li style="font-size:larger;color:darkblue">Categories</li>
                                    <table>
                                        <tr *ngFor="let category of categories">
                                            <td>{{category.category_name}}</td><br><br>
                                        </tr>
                                    </table>
                                </ul>
                            </nav>
                        </div>
                    </aside>-->

                   <!-- <nav><b>Category</b>
                    <span class="caret"></span>
                    <ul class="panel-heading" data-toggle="collapse">
                        <table>
                            <tr *ngFor="let category of categories">
                                <td>{{category.category_name}}</td><br><br>
                            </tr>
                        </table>
                    </ul>
                </nav>-->

               <!-- <nav> <label for="btn" class="button" style="color:black">Category <span class="fa fa-caret-down"></span> </label> <input type="checkbox" id="btn">
    <ul class="menu" *ngFor="let category of categories">
        <li><a href="#">{{category.category_name}}</a></li>
        
        
    </ul>
</nav>-->

<nav> <label for="btn" class="button" ><b>Category</b> <span class="fa fa-caret-down"></span> </label> <input type="checkbox" id="btn">
    <ul class="menu" >
        <li><a href="#one">non-veg</a></li>
        <li><a href="#two">Vegetarian</a></li>
        <li><a href="#three">Breakfast</a></li>
        <li><a href="#four">snacks</a></li>
       
        
        
    </ul>
</nav>


                   
               