section{
    display:flex;
    border-style: ridge;
}
image{
    width: 5%;
    height: 5%;
    margin-left:10px;
    margin-right:20px;
    margin-top:20px;
}

#one{
    padding:80px 8px;
}

#two{
    padding:70px 8px;
}

